*{
    font-family: 'Roboto';
}

:root{
    --head-color: #77A6F7;
    --forrest-green: #00887A;
    --white: #FFFFFF;
    --tan: #FFCCBC;
}

.about{
    width: 500px;
}

body {
    background-color: #FFFFFF;
    margin: 0rem 2rem 0rem 2rem;
}

.card-content{
    display:flex;
    flex-wrap:wrap;
    width: 70%;
    margin-left:0
}

.card-content a{
    text-decoration: none;
    color: var(--forrest-green);
}

.card-content a:hover{
    color:#FFFFFF;
}

.contact{
    justify-content: space-around;
    align-self: center;
    text-decoration: none;
    color: var(--forrest-green);
    font-weight: bolder;
    padding: 1rem;
    border-radius: 20px
}

.contact:hover{
    background-color: var(--tan)
}

.container{
    display:flex;
    justify-content: space-between;
    margin: 2rem 0rem 2rem 0rem
    
}
.container p{
    display:flex;
    text-align: left;
    width: 70%;
}


.container h2{
    border-right: 2px solid #00887A;
    width: 20%;
    text-align: right;
    padding-right: 1rem;
    align-items: center;
    justify-self: flex-start;
    font-size: 32px;
}

figcaption{
    position:relative;
    bottom: 4rem;
    background-color: var(--tan);
    width: 5rem;
    height: 2rem;
    text-decoration: none;
    border-radius: 20px;
    padding: 1rem 0rem 0rem 1rem;

}

footer{
    color:#FFFFFF;
    font-family: "Roboto";
    padding: 1rem;
    text-align: center;
    width: 100%;
    background-color: var(--head-color);
}

header {
    display:flex;
    font-family: "Roboto";
    justify-content: space-between;
    background-color: var(--head-color);
    color: #FFFFFF

}

header h1{
    align-self: center;
    align-items: center;
    background-color: #FFCCBC;
    color: var(--forrest-green);
    height: 44px;
    padding-top: 10px;
    padding-right: 15px;
    border-radius: 0px 20px 20px 0px;
    font-size: 35px;

}

.hero img{
    max-width: 100%;
    margin-bottom: 2rem;
}

nav{
    display:flex;
    align-self: center;
    padding: 1rem;
}

nav a{
    text-decoration: none;
    padding: 1rem;
    border-radius: 20px;
    color:#FFFFFF
}

nav a:hover{
    background-color: white;
    color: var(--head-color)
}


.project-1 {
    width: 90%;
    border-radius: 20px;
}

.project-small {
    width: 100%;
    border-radius: 20px;
}

span {
    display: flex;
}

.link-small{
    width: 45%;
    max-width: 301.5px;
}

@media screen and (max-width: 780px){
    h2{
        font-size: 25px;
    }
}

@media screen and (max-width : 320px){
    body{
        display: flex;
        flex-direction: column;
        margin: 0rem 0rem 0rem 0rem;
    }

}